<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <app-sign-in></app-sign-in>
    <!-- <app-weather-ip></app-weather-ip> -->
    <!-- <app-ip></app-ip> -->
    <!-- <app-book></app-book> -->
    <!-- <app-user-form></app-user-form>
    <app-struck></app-struck>frwerewrwe
    <app-words></app-words> -->
    <!-- <app-list></app-list> -->
    <!-- <app-parten></app-parent> -->
  </div>
</body>

</html>